# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
SpreeCom::Application.config.secret_token = 'da5fec0fbc922a676e29edcd9fe371bc76a2d879580e3002eebba02ec28eba832eefc90ae3cfcfc9533b661d26907f3180edb78abb250b16584f1a463921aaa2'
