<div id="fb-root"></div>

<!-- Le styles -->
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
<style>

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: auto;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

.container.navbar-wrapper {
  margin-bottom: 0;
  width: auto;
}
.navbar-inner {
  border-radius: 0;
  margin: -20px 0;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  width: auto;
  height: 500px;
}

.featurette {
  height: auto;
  padding: 0;
}
.featurette-image.pull-left,
.featurette-image.pull-right {
  display: block;
  float: none;
  max-width: 40%;
  margin: 0 auto 20px;
}
}


@media (max-width: 767px) {

.navbar-inner {
  margin: -20px;
}

.carousel {
  margin-left: -20px;
  margin-right: -20px;
}
.carousel .container {

}
.carousel .item {
  height: 300px;
}
.carousel img {
  height: 300px;
}
.carousel-caption {
  width: 65%;
  padding: 0 70px;
  margin-top: 100px;
}
.carousel-caption h1 {
  font-size: 30px;
}
.carousel-caption .lead,
.carousel-caption .btn {
  font-size: 18px;
}

.marketing .span4 + .span4 {
  margin-top: 40px;
}

.featurette-heading {
  font-size: 30px;
}
.featurette .lead {
  font-size: 18px;
  line-height: 1.5;
}

}

.container .sixteen.columns {
  width: 100%;
}
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://getbootstrap.com/2.3.2/assets/js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active" style="background-image: url('assets/store/slide/P6042742.jpg')">
      <!-- <img src="assets/store/slide/P6042742.jpg" alt="宮古島産完熟マンゴー"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1 class="shadow">宮古島マンゴーお試し下さい</h1>
          <p class="lead">朝取り<strong>完熟マンゴー</strong>をその日のうちに配送。<br />
            <strong>全国送料無料</strong>です。</p>
          <a class="btn btn-large btn-primary" href="/products">今すぐ購入</a>
        </div>
      </div>
    </div>

    <div class="item" style="background-image: url('assets/store/slide/P6042721.JPG')">
      <!-- <img src="assets/store/slide/P6042721.JPG" alt="今年はマンゴー当たり年"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>過去最高のマンゴー収穫量</h1>
          <p class="lead">今年の宮古島はマンゴー<strong>当たり年</strong>！こんなにマンゴーの実がなったことはないほど。 正直採れすぎて大変だ！</p>
          <!-- <a class="btn btn-large btn-primary" href="#"></a> -->
        </div>
      </div>
    </div>

    <div class="item" style="background-image: url('assets/store/slide/P6042724.JPG')">
      <!-- <img src="assets/store/slide/P6042724.JPG" alt="今年の宮古島は天候良好"> -->
      <div class="container">
        <div class="carousel-caption">
        <h1>天候も良好</h1>
        <p class="lead">宮古島の土壌と南国の気候が美味しいマンゴーを育てました。ちなみに<strong>無農薬</strong>でつくりました。 木も実も生命力にあふれています。</p>
        <!-- <a class="btn btn-large btn-primary" href="#">Learn more</a> -->
        </div>
      </div>
    </div>

    <div class="item" style="background-image: url('assets/store/slide/P6042728.JPG')">
      <!-- <img src="assets/store/slide/P6042728.JPG" alt="マンゴーの袋がけ"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>袋をかけて完熟を待ちます</h1>
          <p class="lead">マンゴーは完熟すると自然に落下するため袋をかけて枝からつるします。大変手間のかかる作業ですが、完熟のマンゴーをつくる上で欠かすことはできません。</p>
          <!-- <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
        </div>
      </div>
    </div>

    <div class="item" style="background-image: url('assets/store/slide/P6042720.JPG')">
      <!-- <img src="assets/store/slide/P6042720.JPG" alt="とれたて完熟マンゴーをお届け"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1 class="shadow">完熟マンゴーお届けします</h1>
          <p class="lead"><strong>自然落果の朝摘みマンゴー</strong>をその日の内に配送。<br />
            <strong>全国送料無料</strong>です。</p>
          <a class="btn btn-large btn-primary" href="/products">今すぐ購入</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

  <div class="fb-like" data-href="http://miyakojimafruits.com/" data-send="true" data-width="320" data-show-faces="true"></div>

</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div id="row" class="row">
    <div class="span4">
      <img class="img-circle" src="assets/store/row/P6042718.jpg">
      <h2>無農薬で育てています</h2>
      <p>親子二代にわたってマンゴーを作って40年になるベテラン農家が今年はじめて無農薬に挑戦。結果は大成功で虫もつかず、たくさんのマンゴーが元気に育ちました。マンゴーはもともとウルシ科の植物。本来健康な木に虫はつかないという信念のもと、今年は完全無農薬に挑戦しました。葉っぱを御覧ください。農薬をかけた後の葉には白い跡が残りますが、この木にはありません。また、除草剤も使用していないため、畑には雑草が生えてきますが、これも土の状態を最良に保つために信念を持って農薬を使用しておりません。</p>
      <p><a class="btn anchor" href="#feature1">詳細はこちら  &raquo;</a></p>
    </div><!-- /.span4 -->
    <div id="row2" class="span4">
      <img class="img-circle" src="assets/store/row/P6042729.jpg">
      <h2>傷くらいあります</h2>
      <p>たくさんのマンゴーが実っています。風が吹く費には枝や葉っぱとこすれて傷がつくこともあります。でも、マンゴーの皮は非常に丈夫なので、中の実が痛むことはありません。むしろ、傷口から自分の実を守るためか、皮をじゃがいものように豹変させて強くなるマンゴーもあります。宮古島では通称じゃがいもマンゴーと呼ばれており、これが知る人ぞ知る裏マンゴーなのです。じゃがいもマンゴーが届いたら当たりです！ちなみに、一般にスーパーで売られているような綺麗でないマンゴーを「さみマンゴー」と言います。「さみ」は宮古島の方言で「きれいでない」という意味です。</p>
      <p><a class="btn anchor" href="#feature2">詳細はこちら &raquo;</a></p>
    </div><!-- /.span4 -->
    <div id="row3" class="span4">
      <img class="img-circle" src="assets/store/row/P6042742.jpg">
      <h2>でも美味しさ保証します</h2>
      <p>皮に傷がついていたら、美味しくなさそうに見えるかもしれません。でも、きれいなマンゴーと味は全く変わりません。むしろ、傷のついたマンゴーの方が美味しいこともあるくらいです。皮は食べられませんから。自信を持って美味しさを保証します。もし食べて美味しくない場合は代金は全額返金させて頂きます！自分の作るマンゴーに絶対の自信を持つからこそできるお約束。ぜひ宮古島のマンゴーを味わってみてください。</p>
      <p><a class="btn anchor" href="#feature3">詳細はこちら &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div id="feature1" class="featurette">
    <img class="featurette-image pull-right" src="assets/store/feature/P6042718.jpg">
    <h2 class="featurette-heading">なぜ無農薬なの？<br />
      <span class="muted">単に嫌だったから！</span></h2>
    <p class="lead">
      農薬を広大な畑に散布するのは大変な重労働です。しかも体についたり吸い込んだりしたら当然健康を害する恐れもあり、あまり気持ちのよいものではありません。毎年農薬をマンゴーの木にかけながら「かわいそうだな」と思いつづけていました。そこで今年は思い切って農薬を全く使わないで育ててみようと思い立ちました。去年が天候不良のために宮古島全体でマンゴーが不作だったため、やけっぱちになって大胆な決断をしたのですが、結果は<strong>大成功</strong>。木も元気で実が例年以上に実りました。結果良ければ全て良しです。
    </p>
    <p><%= link_to "もどる", "#row", :class => "btn anchor" %></p>
  </div>

  <hr class="featurette-divider">

  <div id="feature2" class="featurette">
    <img class="featurette-image pull-left" src="assets/store/feature/P6042729.jpg">
    <h2 class="featurette-heading">見た目が良くない？<br />
      <span class="muted">皮は食べません！</span></h2>
    <p class="lead">生産者がある時言いました。「赤いマンゴーが美味しいわけじゃない。見た目は悪くても、<strong>手に取ればどれがほんとうに美味しいかわかる</strong>。作ってる本人が言うんだから間違いない。」その言葉に嘘はありません。マンゴーが高いのは皮が赤くて傷のないものしか市場に流通しないからです。皮を赤くするためには虫よけに農薬をまき、葉をとって太陽に当てる必要がありますが、マンゴーを甘くするためには葉で太陽を受けて光合成する必要があります。見た目のよさより美味しいマンゴーを皆様に食べていただきたい。これが我々の目指すところです。</p>
    <p><%= link_to "もどる", "#row2", :class => "btn anchor" %></p>
  </div>

  <hr class="featurette-divider">

  <div id="feature3" class="featurette">
    <img class="featurette-image pull-right" src="assets/store/feature/P6042742.jpg">
    <h2 class="featurette-heading">あら美味しそう！<br />
      <span class="muted">繰り返しますが、<br />皮は食べません。</span></h2>
      <p class="lead">美味しそうに見えますね。もちろん味も抜群です。さあ、あなたは綺麗な高いマンゴーを食べますか？それとも美味しいマンゴーを安くたくさん食べたいですか？皮に傷があっても実が傷んでいるわけではありません。絶対の自信作<strong>さみマンゴー</strong>。もし美味しくなかったり傷んでいた場合は、<strong>全額返金</strong>または代わりのマンゴーを<strong>無料でお送りします</strong>。</p>
    <p><%= link_to "もどる", "#row3", :class => "btn anchor" %>　<%= link_to "心ひかれましたか？ &raquo;".html_safe, "#feature4", :class => "btn anchor" %></p>
  </div>

  <hr class="featurette-divider">

  <div id="feature4" class="featurette">
    <img class="featurette-image pull-left" src="assets/store/feature/P6042720.jpg">
    <h2 class="featurette-heading">宮古島から美味しい<br />マンゴーをお届けします。<br />
      <span class="muted"></span></h2>
    <p class="lead">現在絶賛収穫＆発送中です。７月下旬ころまで収穫できる予定です。今年の新鮮なマンゴーが食べられるのも残り僅か。ご家庭用にもお世話になったあの方にも、本当に美味しいマンゴーをリーズナブルにご提供させて頂きます。日本一のマンゴー生産地である沖縄県の宮古島市から<strong>全国送料無料</strong>でお届けします。</p>
    <p><a class="btn btn-large btn-primary" href="/products">今すぐ購入</a></p>
  </div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>
<script>
!function ($) {
  $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
}(window.jQuery)
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=530768816983552";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>