<div class="pages">
  <dl>
    <dt>プライバシーポリシー</dt>
    <dd>弊社では以下のプライバシーポリシーを掲げ、 お客様の個人情報を保護するために細心の注意を払っています。 弊社のサービスもしくは商品を購入した場合または弊社のプレゼント・キャンペーン等に応募した場合には、プライバシーポリシーに同意したものとみなされますので、本プライバシーポリシーの内容を熟読してご理解ください。</dd>

    <dt>個人情報とは</dt>
    <dd>このプライバシーポリシーにおいて、「個人情報」とは、個人に関する情報であり、その情報に含まれる氏名、生年月日、E メールアドレスその他の記述、画像若しくは音声又は個人別に付与された番号、記号その他の符号によりその個人を識別できるものをいいます。</dd>

    <dt>個人情報の収集方法</dt>
    <dd>弊社では、いくつかのサービスをご利用いただく際に、氏名、生年月日、E メールアドレス等の個人情報を収集させていただく場合があります。これらの情報は、すべて下記の収集目的に従って、適法かつ公正な手段により収集されます。人種、民族、家系、家柄、本籍地、宗教、政治的見解及び労働組合への加盟に関わる個人情報については、これを収集・利用いたしません。</dd>

    <dt>個人情報を収集・利用する目的</dt>
    <dd>弊社が個人情報を収集または利用する目的は以下のとおりです。<br />
      （１）弊社、または、弊社と商品もしくはサービスを共同で販売する第三者または弊社と共同でプレゼント・キャンペーンを行う第三者その他のビジネス・パートナー（以下あわせて「ビジネス・パートナー」といいます）の商品の発送に関する情報、商品・サービスに関する情報またはプレゼント・キャンペーン情報を提供するため<br />
      （２）弊社および弊社のビジネス・パートナーのサービスもしくは商品の開発・改善を目的とした調査・検討を行うため<br />
      （３）弊社および弊社のビジネス・パートナーのサービスもしくは商品に関する統計的資料を作成するため<br />
      （４）弊社および弊社のビジネス・パートナーの求人情報を提供するため<br />
      （５）その他弊社の経営方針もしくは営業戦略の策定・改善を目的とした調査・検討を行うため</dd>

    <dt>情報の第三者への開示について</dt>
    <dd>１．弊社は、下記２または３に該当する場合を除き、お客様の同意なく個人情報を第三者に開示することはありません。<br />
      ２．弊社は、以下のとおり、個人情報を共同利用することがあります。<br />
      （１）共同利用者：弊社と商品もしくはサービスを共同で販売する第三者または弊社と共同でプレゼント・キャンペーンを行う第三者その他のビジネス・パートナー社と商品を開発するビジネスパートナー<br />
      （２）共同利用される個人データの項目<br />
      ・氏名<br />
      ・住所（郵便番号を含む）<br />
      ・Email アドレス<br />
      <!-- ・性別<br /> -->
      ・電話番号<br />
      <!-- ・ＦＡＸ番号<br />
       !-- ・勤務先名<br />
       !-- ・肩書き<br />
       !-- ・職業<br /> -->
      ・弊社お客様番号<br />
      （３）共同利用の目的
      ・弊社および弊社のビジネス・パートナーの商品の発送に関する情報、商品<br />
      ・サービスに関する情報またはキャンペーン情報を提供するため<br />
      ・弊社および弊社のビジネス・パートナーのサービスもしくは商品の開発・改善を目的とした調査・検討を行うため<br />
      ・弊社および弊社のビジネス・パートナーのサービスもしくは商品に関する統計的資料を作成するため<br />
      ・弊社および弊社のビジネス・パートナーの求人情報を提供するため<br />
      ・その他弊社の経営方針もしくは営業戦略の策定・改善を目的とした調査・検討を行うため<br />
      <!-- （４）共同利用する個人情報の管理責任者：<br /> -->
      ３．弊社は、以下の場合には個人情報を第三者に開示することがあります。<br />
      （１）法令により情報の開示が求められる場合<br />
      （２）人の生命、身体または財産の保護のために必要があると弊社が判断した場合<br />
      （３）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して 協力することその他公共の利益のために特に必要があると弊社が判断した場合<br />
      （４）お客様または弊社の権利の確保のために必要であると弊社が判断した場合<br />
      （５）業務遂行に必要な限度で個人情報の取扱いを委託する場合</dd>

    <dt>個人情報の訂正および削除</dt>
    <dd>１． お客様は、弊社所定の手続により、以下の請求を行うことができます。<br />
      （１）弊社の保有する自己の個人情報が誤った情報でないことを確認すること<br />
      （２）弊社の保有する自己の個人情報が誤った情報である場合に、それを訂正または削除すること<br />
      ２． 弊社は、前項（２）の個人情報の訂正または削除の可否を決定した場合には、遅滞なく、当該お客様に通知します。<br />
      ３． これらの請求を行いたい場合には、下記までご連絡ください。。<br />
      連絡先：個人情報管理担当者<br />
      E-mail: <a href="mailto:info@spree.com?subject=[spree] お問い合わせ" target="_blank">info[at]spree.com</a></dd>

    <dt>個人情報の安全性</dt>
    <dd>弊社では、個人情報の不当なアクセスによる紛失、破壊、改ざん、漏洩などのリスクに対して、合理的かつ厳正な安全対策を講じておりますが、以下の事由など弊社の責に帰すべからざる事由を原因とする個人情報の紛失、破壊、改ざん、漏洩などに関しては、弊社では責任を負いかねますので、ご注意ください。<br />
      （１）誰でもアクセスできる形態でインターネット上に個人情報を開示した場合<br />
      （２）弊社以外のウェブサイトにおいて個人情報を開示した場合<br />
      （３）お客様の利用した端末から個人情報が漏れた場合またはお客様の管理化にあるパスワードの使用を 原因として個人情報が漏れた場合<br />
      （４）各種申込フォームにお客様が入力されたメールアドレスが間違っている場合（各種申込フォームでは内容をお客様に確認していただくために、登録されたメールアドレスに申込情報を自動的に配信する仕組みになっています。そのため間違ったメールアドレスであっても、そのメールアドレスに申込情報が自動的に配信されます。）</dd>

    <dt>セキュリティについて</dt>
    <dd>１．個人情報の登録が発生するＷｅｂページではデータ送信の際に、業界で機密保持の標準規格として使用されているSSL(Secure Socket Layer)暗号化技術を使用しております。<br />
      プライバシーポリシーの変更<br />
      １．本プライバシーポリシーの内容はお客様に通知をすることなく変更されることがあります。<br />
      ２．変更後のプライバシーポリシーについては、弊社が別途定める場合を除いて、弊社のウェブサイトに掲載した時から効力を生じるものとします。</dd>

    <dt>【お客様へのご協力とお願い】</dt>
    <dd>弊社サイトにおいて個人情報を含むメールが配信される場合は以下の通りです。
      これらの際には申込時に入力されたメールアドレスに登録内容（個人情報）を含むメールが配信されます。たとえメールアドレスの入力を間違えられた場合でも、そのメールアドレスに個人情報が含まれるメールが配信されます。大抵はエラーメールとなると思われますが、間違えたメールアドレスが実際に存在した場合には、そのメールアドレスに登録内容（個人情報を含む）が送信され、個人情報が漏洩する可能性があります。メールアドレス入力の際には十分ご注意くださいますようお願い申し上げます。<br />
      ・メールマガジンを購読された時に登録内容を確認する為に自動配信されるメール<br />
      ・プレゼント・キャンペーンに応募された時に登録内容を確認する為に自動配信されるメール<br />
      ・申込フォームからの申込みをされた時に申込内容を確認する為に自動配信されるメール<br />
      ・教材が配送される場合に配信される配送お知らせメール
    </dd>
  </dl>
</div>
