<div class="pages">
  <dl>
    <dt>事業者</dt>
    <dd>事業者名</dd>
    <dt>運営責任者</dt>
    <dd>氏名</dd>
    <dt>所在地</dt>
    <dd>〒000-0000</dd>
    <dt>メールアドレス</dt>
    <dd><a href="mailto:info@spree.com?subject=[spree] お問い合わせ" target="_blank">info[at]spree.com</a></dd>
    <dt>ホームページ</dt>
    <dd><a href="http://spree.com/" target="_blank">http://spree.com/</a></dd>
    <dt>販売価格</dt>
    <dd>
      各商品ページに表記された価格に準じます。<br />
    </dd>
    <dt>注文方法</dt>
    <dd>インターネット、直売所による店頭販売</dd>
    <dt>支払い方法</dt>
    <dd>代金引換決済・<%= link_to "PayPal", "http://www.paypal.jp/jp", :target => "blank" %></dd>
    <dt>返金・キャンセルについて</dt>
    <dd>商品に不良、破損等があった場合、同商品を再送、または返金対応をさせて頂きます。</dd>
  </dl>
</div>
